h1 {
    color: rgb(220, 220, 220);
}

h2 {
    color: rgb(220, 220, 220);
}

.texto-simples {
    color: rgb(220, 220, 220);
}

body {
    background-color: rgb(47, 79, 79);
}

img {
    border-radius: 100%;
}

#tamanho-nome {
    font-size: 24px;
}

.fonte-alterada {
    font-family: 'Cormorant SC', serif
}

#link-ref {
    border: 60px;
    background-image: borda-final.png;
}
a{
    color: rgb(220, 220, 220);
}