body {
    background-color: rgb(47, 79, 79);
    color: rgb(220, 220, 220);
}

img {
    border-radius: 100%;
}

#tamanho-nome {
    font-size: 24px;
}

.fonte-alterada {
    font-family: 'Cormorant SC', serif
}

a {
    color: rgb(220, 220, 220);
}

.boas-vindas {
    text-align: center;
}

#destaque-ellen {
    border: 5px solid black;
}
/* #destaque-ellen p h2{
    float: right;
} */
#foto-ellen{
    float: left;
}
    